<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778943041305-lih35muivbdg4ncl8ctnl48lki9kfk9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778943041305-lih35muivbdg4ncl8ctnl48lki9kfk9u</string>
	<key>API_KEY</key>
	<string>AIzaSyDZc-gAxvJqeHoLwS6IRbFmI1y8R9hzfjA</string>
	<key>GCM_SENDER_ID</key>
	<string>778943041305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterauthentication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-1743a</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-1743a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778943041305:ios:452eb2f3acafa25b4cbf88</string>
</dict>
</plist>